body {
  background-color: rgb(11, 169, 243);
  flex: 1;
  justify-content: center;
  text-align: center;
}

.Buscar {
  background-color: red;
  padding: 25px;
}

.button {
  background-color: #f5a345;
  margin: 15px;
}

.lupa {
  background-color: aqua;
}

.cards {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  background-color: white;
  flex-direction: row;
}

.poke-info{
  /* background-color: green; */
  margin-left: 20px;
  padding: 10px;
  width: 80px;
  height: 50px;
}

.type{
  flex-direction: row;
}

.poke-image {
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
  background-color: #c4c3c1;
  opacity: 0.9;
  border-radius: 10px;
}
