<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex</title>
  </head>

  <body>
    <div>
      <form method="POST">
        <div class="Buscar">
          <input
            style="border-radius: 10px; width: 200px; height: 30px"
            placeholder="Buscar Pokemon"
            name="nome"
            type="text"
          />
          <button
            class="button"
            style="border-radius: 10px; width: 100px; height: 35px"
            type="submit"
          >
            Buscar
            <img
              width="15px"
              height="15px"
              src="{{ url_for('static', filename='images/lupa.png') }}"
            />
          </button>
        </div>

        {% if listAll == True %}
        <div class="cards">
          {% for pokemon in listPokemon %}
          <div>
            <img class="poke-image" src='{{ pokemon["image"] }}' />
            <div class="poke-info">
              <p>{{ pokemon["nome"] }}</p>
              <div class="type">
                <span>{{pokemon["types"] }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="cards">
          <img class="poke-image" src='{{ listPokemon["image"] }}' />
        </div>
        {% endif %}
      </form>
    </div>
    <!-- {{ listPokemon }} -->
  </body>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
