<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="margin-left: 25%; padding-top: 25%">
      <form action="Buscar" method="POST">
        <input
          style="border-radius: 10px; width: 115px; height: 30px"
          placeholder="Buscar Pokemon"
          name="nome"
          type="text"
        />
        <button
          style="border-radius: 10px; width: 70px; height: 30px"
          type="submit"
          name="Buscar"
        >
          Buscar
        </button>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        />
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png"
        />
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png"
        />
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
        />
      </form>
    </div>
  </body>
</html>
