<form action="Buscar" method="POST">
    <input placeholder="Buscar Pokemon" name="nome" type="text"/>
    <button type="submit" name="Buscar">Buscar</button>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png">
    <h3>{{nome}}</h3>
    <h3>{{foto}}</h3>
</form>