body {
  background-color: white;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.Buscar{
  background-color: red;
  padding: 25px;
}

.button{
    background-color: #f5a345;
    margin: 15px;
}

.cards{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  background-color: aqua;
  flex-direction: row;
}

.poke-image{
  align-items: center;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  background-color: #c4c3c1;
  opacity: 0.9;
  border-radius: 10px;
}
